
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


/* MONTH CALENDAR BEGINS HERE ----------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
.icon {
font-family: 'Material Icons', serif;
font-style: normal;
display: inline-block;
vertical-align: middle;
line-height: 1;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
direction: ltr;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: 'liga';
}
/* GENERAL */
* {
box-sizing: border-box;
}
body {
font-family: "Roboto";
font-size: 1em;
line-height: 1.5;
position: relative;
}
header {
display: block;
width: 100%;
padding: 1.75em 0;
background: white;
}
/* GRID */

.row {
margin: 0;
padding: 0;
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
}
.row-middle {
align-items: center;
}
.column {
flex-grow: 1;
flex-basis: 0;
max-width: 100%;
}
/* Calendar */
.calendar {
display: block;
position: relative;
width: 95%;
height: auto;
margin: auto;
}
.calendar .header {
text-transform: uppercase;
text-align: center;
font-size: 115%;
padding: 1.5em 0;
}
.calendar .header .icon {
cursor: pointer;
transition: .15s ease-out;
}
.calendar .header .icon:hover {
transform: scale(1.75);
transition: .25s ease-out;
color: pink;
}
.calendar .header .icon:first-of-type {
margin-left: 1em;
}
.calendar .header .icon:last-of-type {
margin-right: 1em;
}
.calendar .days {
text-transform: uppercase;
text-align: center;
font-weight: 400;
color: gray;
font-size: 70%;
padding: .75em 0;
border-bottom: 1px solid lightgray;
}

.calendar .body .cell {
position: relative;
width: 6em;
height: 8em;
border-right: 1px solid lightgray;
overflow: scroll;
cursor: default;
background: transparent;
-ms-overflow-style: none;  /* IE 10+ */
scrollbar-width: none;  /* Firefox */
}
.calendar .body .cell::-webkit-scrollbar {
    display: none;
}
.calendar .body .week-cell {
position: relative;
width: 12em;
overflow: scroll;
cursor: pointer;
background: transparent;
}
.calendar .body .selected {
border-left: 1em solid transparent;
border-image: radial-gradient(
  104.49% 573.2% at -9.55% 10.53%,
  #f5737b 12.98%,
  #a195f7 52.6%,
  #f2a6ff 100%
);
border-image-slice: 1;
}
.calendar .body .row {
border-bottom: 1px solid lightgray;
}
.calendar .body .row:last-child {
border-bottom: none;
}
.calendar .body .cell:last-child {
border-right: none;
}
.calendar .body .cell .number {
position: absolute;
font-size: 85%;
line-height: 1;
top: .75em;
right: .75em;
}
.calendar .body .disabled {
color: lightgray;
pointer-events: none;
}


.calendar .body .column {
flex-grow: 0;
flex-basis: calc(100%/7);
width: calc(100%/7);
}

/* shift entries */

.calendar-month-entry{
  margin:2px;
  font-size: 12px;
  padding-left: 10px;
  cursor:pointer;
  background-color: #EBE8E8;
  border-left: 5px solid pink;
  /* change the borders into var(--location) from js */
}

.calendar-day-entry{
  cursor: pointer;
  margin:2px;
  position: absolute;
  left: 36em;
  font-size: 12px;
  padding-left: 3.5em;
  padding-right: 3.5em;
  /* background-color: #EBE8E8; */
  background-color: rgba(235, 232, 232, .6);
  border-left: 5px solid pink;
}
.month-shift-box {
  margin-top: 2em;
}


/* time based shift location */
:root{
  --tab: pink;
  /* labs and training, office hours, designhub */
}

.twelve {
  height: 20px;
}
.calendar-week-entry{
  /* margin: var(--marg); */
  cursor:pointer;
  font-size: 12px;
  padding-left: 1em;
  padding-top: 1em;
  /* padding-bottom: var(--padbottom); */
  background-color: rgba(235, 232, 232, .3);
  border-left: 5px solid var(--tab);
  /* word-wrap: break-word; */
}


.row-day{
  height: 30px;
  background-color: rgba(255, 255, 255, 0);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.spacing-cell{
  position: absolute;
  padding-bottom: 720px
}


/* these classes colour the groups that the shifts belong in */
.mps {
  border-left-color: rgba(255, 0, 0, .4);
}
.services {
  border-left-color: rgba(245, 66, 170, .4);
}
.tutors {
  border-left-color: rgba(10, 12, 266, .4);
}
.labTrain {
  border-left-color: rgba(245, 113, 12, .4);
}
.officeHours {
  border-left-color: rgba(12, 202, 245, .4);
}
.designhub {
  border-left-color: rgba(150, 12, 200, .4);
}
.codePlus {
  border-left-color: rgba(255, 255, 0, .2);
}

.not-shown{
  display: none;
}
/* ATTEMPTING TO GET RID OF SHIFT OVERLAP IN CAL */
/* .heyo{
  display: inline-block;
} */


.short-shift {
  padding-top: 0 !important;
}

.modal-card {
  background-color: white;
  width: 30%;
}
.modal-card-body {
  margin:1em;
}
.modal-card-head {
  background-color: white;
  margin:1em;
  width: 90%;
}
.modal-card-foot {
  background-color: white;
  width: 90%;
}
