@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* NAVBAR THINGS */
#nav {
	width: 100%;
	float: right;
	margin: 2em;
	padding: 0;
	list-style: none; }
#nav li {
	float: right;
	display: block;
	padding: 0em 6em;
	font-weight: bold;
	color: #000000; 
}
.logo {
	float: left;
  font-size: 1.5em;
}


/* LANDING PAGE THINGS */

.background-pretty-gradient {
	margin: 0;
	padding:0;
	display: inline-block;
	background-image: url('./gradient.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: left;
	height: 35em;
	width: 100%;
}
.greeting {
	padding: 0em 0em 0em 1.6em;
	font-family: 'Roboto';
	font-size: 3em;
	font-weight: 300;
	color: white;
}
.landing-box {
	padding: 0em 0em 0em 2.5em;
	font-size: 2em;
	color: white;
	font-family: 'Roboto';
	font-weight: 400;
}
.transparent-box {
	background: rgba(255, 255, 255, 0.3);
  width: 35em;
  height: 12em;
	color: white;
	padding: 1em 0 0 2em;	
	margin: 0em 0em 0em 5em;
}

/* SCHEDULE THINGS */
.week th {
	background-color: #EDEDED;
	padding: 10px 40px 10px 20px;
	font-size: 12px;
}

.days-of-week {
	float: right;
	border-spacing: 40px 20px;
	margin-right: 80px;
}

.day-week-month {
	float: right;
	border-collapse: collapse;
	margin-right: 120px;
}

.gradient {
	background-image: radial-gradient(circle farthest-corner at 0% 15%, rgba(245,115,123,0.5), rgba(161, 149, 247, 0.5), rgba(242, 166, 255, 0.5));
  }

.dark-gradient {
	background-image: radial-gradient(circle farthest-corner at 0% 15%, rgb(245,115,123), rgb(161, 149, 247), rgb(242, 166, 255));
}

.view th {
	padding: 10px 30px;
	text-align: center;
	color: white;
	font-size: 16px;
}

.key {
	padding-top: 200px;
	font-family: 'Roboto';
	font-weight: 600;
	font-size: 14px;
}

.key-box {
	height: 20px;
	width: 20px;
	float: left;
	margin: 0 20px;
}