@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* NAVBAR THINGS */
#nav {
	width: 100%;
	float: right;
	margin: 2em;
	padding: 0;
	list-style: none; }
#nav li {
	float: right;
	display: block;
	padding: 0em 6em;
	font-weight: bold;
	color: #000000;
}
.logo {
	float: left;
  font-size: 1.5em;
}


/* LANDING PAGE THINGS */

.background-pretty-gradient {
	margin: 0;
	padding:0;
	display: inline-block;
	background-image: url('./gradient.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: left;
	height: 35em;
	width: 100%;
}
.greeting {
	padding: 0em 0em 0em 1.6em;
	font-family: 'Roboto';
	font-size: 3em;
	font-weight: 300;
	color: white;
}
.landing-box {
	padding: 0em 0em 0em 2.5em;
	font-size: 2em;
	color: white;
	font-family: 'Roboto';
	font-weight: 400;
}
.transparent-box {
	background: rgba(255, 255, 255, 0.3);
  width: 35em;
  height: 12em;
	color: white;
	padding: 1em 0 0 2em;
	margin: 0em 0em 0em 5em;
}
.clock-in {
  background-color: white;
  color: #81a0e8;
  border: none;
  padding: .8em 2em .8em .6em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2em 0em 0em 7.2em;
  transition-duration: 0.4s;
  cursor: pointer;
}
.clock{
  display: inline-block;
  vertical-align: middle;
}
.shift-pool {
}
.open-shift-time {
  font-family: Roboto;
  font-size: 1em;
  font-weight: bold;
  margin: 0 .5em .5em 8em;
}
.open-shift-text {
  font-family: Roboto;
  font-size: 1em;
  margin: 0 .5em .5em 8em;
}
.open-shift-button {
  margin-bottom: 2em;
  margin-left: 11.5em;
  border: none;
  border-radius: 7px;
  background: url('./button.png') no-repeat scroll 0 0 transparent;
  color: white;
  background-size: 100% 100%;
  padding: .8em 2em;
  cursor: pointer;
}

.upcoming-shift-time {
  font-family: Roboto;
  font-size: 1em;
  font-weight: bold;
  margin: 0 .5em .5em 3em;
}
.upcoming-shift-text {
  font-family: Roboto;
  font-size: 1em;
  margin: 0 .5em .5em 3em;
}
.upcoming-shift-button {
  margin-bottom: 2em;
  margin-left: 4em;
  border: none;
  border-radius: 7px;
  background: url('./button.png') no-repeat scroll 0 0 transparent;
  color: white;
  background-size: 100% 100%;
  padding: .8em 2em;
  cursor: pointer;
}
/* AVAILABILITY THINGS */
.week th {
  background-color: #ededed;
  padding: 10px 40px 10px 20px;
  font-size: 12px;
  margin-right: 80px;
}
.time td{
	background-color:  #EDEDED;
	padding: 10px 40px 550px 20px;
	font-size: 12px;
}

/* SCHEDULE THINGS */
.days-of-week {
  float: right;
  border-spacing: 40px 20px;
  margin-right: 80px;
}

.dwm {
  float: right;
  border-collapse: collapse;
  margin-right: 120px;
}
.day-week-month  /* the indiv tabs */ {
  border: none !important;
  outline: none !important;
  width: 6em !important;
  padding: 14px 16px !important;
  font-size: 17px;
  background-image: radial-gradient(
    104.49% 573.2% at -9.55% 10.53%,
    rgba(245, 115, 123, 0.5) 12.98%,
    rgba(161, 149, 247, 0.5) 52.6%,
    rgba(242, 166, 255, 0.5) 100%
  ) ;
  background-color: transparent !important;
}

.day-week-month.active {
  background-image: radial-gradient(
    104.49% 573.2% at -9.55% 10.53%,
    #f5737b 12.98%,
    #a195f7 52.6%,
    #f2a6ff 100%
  ) !important;
}



.view th {
  text-align: center;
  color: white;
  font-size: 16px;
}

.key /* div containing all keys */ {
  margin-top: 10em;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 14px;
}

.key-box /* colored box */ {
  height: 20px;
  width: 20px;
  float: left;
}

.schedule-calendar /* box containing calendar */ {
  float: right;
  width: 80%
}


/* MONTH CALENDAR BEGINS HERE ----------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
.icon {
font-family: 'Material Icons', serif;
font-style: normal;
display: inline-block;
vertical-align: middle;
line-height: 1;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
direction: ltr;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: 'liga';
}
/* GENERAL */
* {
box-sizing: border-box;
}
body {
font-family: "Roboto";
font-size: 1em;
line-height: 1.5;
position: relative;
}
header {
display: block;
width: 100%;
padding: 1.75em 0;
background: white;
}
/* GRID */

.row {
margin: 0;
padding: 0;
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
}
.row-middle {
align-items: center;
}
.column {
flex-grow: 1;
flex-basis: 0;
max-width: 100%;
}
/* Calendar */
.calendar {
display: block;
position: relative;
width: 90%;
height: auto;
margin: auto;
}
.calendar .header {
text-transform: uppercase;
text-align: center;
font-size: 115%;
padding: 1.5em 0;
}
.calendar .header .icon {
cursor: pointer;
transition: .15s ease-out;
}
.calendar .header .icon:hover {
transform: scale(1.75);
transition: .25s ease-out;
color: pink;
}
.calendar .header .icon:first-of-type {
margin-left: 1em;
}
.calendar .header .icon:last-of-type {
margin-right: 1em;
}
.calendar .days {
text-transform: uppercase;
text-align: center;
font-weight: 400;
color: gray;
font-size: 70%;
padding: .75em 0;
border-bottom: 1px solid lightgray;
}

.calendar .body .cell {
position: relative;
height: 6em;
width: 10em;
border-right: 1px solid lightgray;
overflow: hidden;
cursor: pointer;
background: transparent;
}
.calendar .body .week-cell {
position: relative;
height: 30em;
width: 10em;
overflow: hidden;
cursor: pointer;
background: transparent;
}
.calendar .body .selected {
border-left: 1em solid transparent;
border-image: radial-gradient(
  104.49% 573.2% at -9.55% 10.53%,
  #f5737b 12.98%,
  #a195f7 52.6%,
  #f2a6ff 100%
);
border-image-slice: 1;
}
.calendar .body .row {
border-bottom: 1px solid lightgray;
}
.calendar .body .row:last-child {
border-bottom: none;
}
.calendar .body .cell:last-child {
border-right: none;
}
.calendar .body .cell .number {
position: absolute;
font-size: 85%;
line-height: 1;
top: .75em;
right: .75em;
}
.calendar .body .disabled {
color: lightgray;
pointer-events: none;
}


.calendar .body .column {
flex-grow: 0;
flex-basis: calc(100%/7);
width: calc(100%/7);
}

/* HOURS THINGS */

tr{
  background-color: rgba(255,165,170, 0.3);
}
th{
  background-color: #FFA5AA
}

.margin {
  margin: 100px 150px;
}
