@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NAVBAR THINGS */
.logo {
	float: left;
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;
  cursor: pointer;
}

/* LANDING PAGE THINGS */

.background-pretty-gradient {
	display: inline-block;
	background-image: url('./gradient.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: left;
  width: 100%;
  padding-bottom: 3em;
}

.greeting {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1em;
	font-family: 'Roboto';
	font-size: 40px;
	font-weight: 300;
	color: white;
}

.landing-box {
  padding-left: 10%;
  padding-right: 10%;
	font-size: 40px;
	color: white;
	font-family: 'Roboto';
	font-weight: 400;
}

.transparent-box {
  background: rgba(255, 255, 255, 0.22);
	color: white;
	margin-left: 10%;
  margin-top: 20px;
  padding: 25px 25px 25px 25px;
  display: inline-block;
  align-items: center;
}

.no-shifts {
  font-size: 40px;
  text-align: center;
}

.clock-in {
  background-color: white;
  color: #81a0e8;
  border: none;
  padding: 10px 20px 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  display: inline-block;
  margin-left: 10%;
  margin-top: 40px;
  transition-duration: 0.4s;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.clock{
  display: inline-block;
  height: 30px;
  width: 40px;
}

.clock-text {
  padding-left: 10px;
  font-size: 25px;
}

.shift-time {
  font-size: 40px;
}

.pm {
  font-size: 30px;
  color: #888888;
}

.shift-location {
  font-size: 20px;
  margin-bottom: 9px;
}

.shift-role {
  font-size: 20px;
}

.upcoming-shift {
	display: inline-block;
  width: 100%;
}

.upcoming-shift-title {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
  font-size: 2.5em;
  font-family: Roboto;
  font-weight: normal;
}

.shift-pool {
  display: inline-block;
  width: 100%;
  padding-bottom: 3em;
  margin-top: 30px;
}

.shift-pool-title {
  /* margin-top: 30px; */
  font-size: 2.5em;
  font-family: Roboto;
  font-weight: normal;
  position: relative;
}

.shift-pool-image {
  height: 3em;
  padding-left: 10%;
  margin-right: .5em;
}

.add-shift-button {
  border: none;
  background: url('./button.png') no-repeat scroll 0 0 transparent;
  color: white;
  background-size: 100% 100%;
  padding: .8em 2em;
  margin-top: 10px;
  cursor: pointer;
}

.open-shift-time {
  font-family: Roboto;
  font-size: 1em;
  font-weight: bold;
  margin: 0 .3em .3em 8em;
}

.open-shift-text {
  font-family: Roboto;
  font-size: 1em;
  margin: 0 .5em .5em 8em;
}

.open-shift-button {
  margin-top: 21px;
  border: none;
  background: url('./button.png') no-repeat scroll 0 0 transparent;
  color: white;
  background-size: 100% 100%;
  padding: .8em 1.6em;
  cursor: pointer;
}

.edit-shift-button {
  margin-top: 2px;
  border: none;
  background: url('./button.png') no-repeat scroll 0 0 transparent;
  color: white;
  background-size: 100% 100%;
  padding: .8em 0 .8em 0;
  width: 79px;
  cursor: pointer;
}

.upcoming-shift-date {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
}

.upcoming-shift-date > p {
  text-align: center;
  color: darkgray;
}

.upcoming-shift-time {
  font-family: Roboto;
  font-size: 1em;
  font-weight: bold;
  margin-top: .1em;
  margin-bottom: .1em;
}

.upcoming-shift-text {
  font-family: Roboto;
  font-size: 1em;
  margin-top: .1em;
  margin-bottom: .1em;
}

.upcoming-shift-button {
  margin-bottom: 2em;
  margin-left: 4em;
  border: none;
  border-radius: 7px;
  background: url('./button.png') no-repeat scroll 0 0 transparent;
  color: white;
  background-size: 100% 100%;
  padding: .8em 2em;
  cursor: pointer;
}
/* AVAILABILITY THINGS */
.week th {
  background-color: #ededed;
  padding: 10px 40px 10px 20px;
  font-size: 12px;
  margin-right: 80px;
}
.time td {
	background-color:  #EDEDED;
	padding: 10px 40px 550px 20px;
	font-size: 12px;
}

.key-margin {
  margin-left: 3%;
}

.form {
  background-color: #EDEDED;

  margin-right: 80%;
  margin-left: 5%;
 }

/* SCHEDULE THINGS */
.days-of-week {
  float: right;
  border-spacing: 40px 20px;
  margin-right: 80px;
}

.dwm {
  float: right;
  border-collapse: collapse;
  margin-right: 120px;
}
.day-week-month {
  cursor: pointer;
  border: none ;
  outline: none ;
  width: 6em ;
  padding: 14px 16px ;
  font-size: 17px;
  background-image: radial-gradient(
    104.49% 573.2% at -9.55% 10.53%,
    rgba(245, 115, 123, 0.5) 12.98%,
    rgba(161, 149, 247, 0.5) 52.6%,
    rgba(242, 166, 255, 0.5) 100%
  ) ;
  color: white;

}

.day-week-month.active {
  background-image: radial-gradient(
    104.49% 573.2% at -9.55% 10.53%,
    #f5737b 12.98%,
    #a195f7 52.6%,
    #f2a6ff 100%
  ) ;
  color: white;
}

.view th {
  text-align: center;
  color: white;
  font-size: 16px;
}

.key /* div containing all keys */ {
  position: relative;
  top: 12em;
  left: 6em;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 14px;
  float: left;
  width: 20%;
  height: 100%
}

.key-box /* colored box */ {
  height: 20px;
  width: 20px;
  float: left;
}

/* THE CHECKBOXES */
/* hide defaults */
.check-container .check-input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark{
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.check-container .check-input:checked ~ .checkmark {
  background-color: #2196F3;
}
.checkmark:after {
  content: "";
  display: none;
}
.check-container .check-input:checked ~ .checkmark:after {
  display: block;
}

.check-container .check-input:checked ~ .mps-box{
  background-color: rgba(255, 0, 0, .4);
}
.check-container .check-input:checked ~ .services-box {
  background-color:rgba(245, 66, 170, .4);
}
.check-container .check-input:checked ~ .tutors-box {
  background-color: rgba(10, 12, 266, .4);
}
.check-container .check-input:checked ~ .labTrain-box{
  background-color: rgba(245, 113, 12, .4);
}
.check-container .check-input:checked ~ .officeHours-box{
  background-color: rgba(12, 202, 245, .4);
}
.check-container .check-input:checked ~ .designhub-box {
  background-color: rgba(150, 12, 200, .4);
}
.check-container .check-input:checked ~ .codePlus-box {
  background-color: rgba(255, 255, 0, .4);
}

.schedule-calendar /* box containing calendar */ {
  float: right;
  width: 80%
}

.availability-table td{
  background-color: white;
}
/* HOURS THINGS */

tr{
  background-color: rgba(255,165,170, 0.3);
}
th{
  background-color: #FFA5AA
}

.hours-header-table th {
  background-color: white;
  border: 0;
}

.hours-header-table td {
  background-color: white;
}

.hours-table {
  margin-left: 10%;
  margin-right: 10%;
}

/* BULMA */

.tile.is-gapless > .tile.is-parent{
  padding: 0;
}

.tile.is-gapless > .tile.is-vertical > .tile.is-child {
  margin-bottom: 0 !important;
}

.build-schedule-button {
  margin: 1rem;
  padding: .8rem 2rem;
  border: none;
  border-radius: 7px;
  background: url('./button.png') no-repeat scroll 0 0 transparent;
  color: white;
  background-size: 100% 100%;
  cursor: pointer;
  position: absolute;
  left: 3em;
  top:60em;
}

.scheduled-shift h4 {
  padding-top: 1em;
  font-weight: 500;
  font-size: 11px;
  color: black;
}

.scheduled-shift p {
  font-size: 10px;
  color: #484848;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.scheduled-shift span {
  font-size: 11px !important;
  font-weight: 500 !important;
  color: black !important;
}

.unscheduled-availability {
  margin-top: 1300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.availability-item {
  flex: 0 48%;
}

.message {
  background-color: white;
  border-style: none;
}

.message-body {
  padding: 0;
}

.message-header {
  background-image: radial-gradient(
    104.49% 573.2% at -9.55% 10.53%,
    #f5737b 12.98%,
    #a195f7 52.6%,
    #f2a6ff 100%
  ) ;
}

.nav-link:hover {
  color: #3273dc;
  background-color: #fafafa;
  cursor: pointer;
}

.rainbow-gradient {
  background-image: radial-gradient(
    104.49% 573.2% at -9.55% 10.53%,
    #f5737b 12.98%,
    #a195f7 52.6%,
    #f2a6ff 100%
  ) ;
  color: white;
  border-style: none;
  border-radius: 4px;
  text-align: center;
  padding: .5em;
  width: 50%;
}

.right-button {
  cursor: pointer;
  width: 100%;
  margin-top: auto;
}

.parent {
  height: 80vh; /* set height as you need */
  display: flex;
  flex-direction: column;
}

.employee-card {
  box-shadow: none;
  background-color: #EBE8E8;
  border-radius: 2px;
  padding: 10px;
  margin: 20px 40px 20px 0;
}

.click-me {
  cursor: pointer;
}

.capitalize-me {
  text-transform: capitalize;
}

@media only screen and (max-width: 600px) {
  .shift-time {
    font-size: 30px;
  }

  .pm {
    font-size: 20px;
  }
}

.schedule-shift{
  cursor:pointer;
  font-size: 12px;
  padding-left: 1em;
  /* padding-top: 1em; */
  /* padding-bottom: var(--padbottom); */
  background-color: rgba(235, 232, 232, .3);
  border-left: 5px solid var(--tab);
  width: 10em;
}

.is-full-width {
  width: 100.1%;
}

.side-by-side {
  display: flex;
  justify-content: space-between;
}

.left-child {
  flex: 0 25%;
}

.right-child {
  flex: 0 70%;
}